<h1><font color='#004b87'><center>BDAT 1004 Problem Set 2</center></font></h1>
<h2><center>Dhanuja Kalu Arachchige - 200539539</center></h2>

# Question 1

_Explanation of the execution is provided below as inline comments_

In [1]:
a = 0        # Global variable a is assigned value 0

def b():     # Definition of function b
    global a # Makes the function refer to variable a in global scope
             # Without this statement, function will use a local variable which only exists during function execution
    a = c(a) # Here global variable a is entered to function c, which increases it by 2 and updates global value
    
def c(a):    # Definition of function c
    return a + 2 # Entered value is increased by 2 and returned

In [2]:
b()    # In first call, global variable a with value 0 is increased by 2
b()    # In second call, global variable a with value 2 is increased by 2
b()    # In third call, global variable a with value 4 is increased by 2
a      # In final output, global variable a has a value of 6

6

# Question 2

In [3]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(f'File {file_name} was not found')
    except UnicodeDecodeError:
        print(f'File {file_name} could not be read as a text file')

In [4]:
fileLength("w3.txt")

File w3.txt was not found

# Question 3

In [5]:
class Marsupial:
    """Represent the clade originating from the last common ancestor of extant metatherians. 
    Like other mammals they give birth to relatively undeveloped young that often reside in a pouch. [MS Bing]"""
    
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        print(self.pouch)

In [6]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [7]:
class Kangaroo(Marsupial):
    """Represents subclass of Marsupial"""

    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):
        self.x = self.x + dx
        self.y = self.y + dy
    
    def __str__(self):
        return f'I am a Kangaroo located at coordinates ({self.x},{self.y})'

In [8]:
k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

In [9]:
def collatz(x):
    if type(x) is not int:
        print('Please input integer')
    elif x < 1:
        print('Please input positive integer')
    elif x == 1:
        print(x)
    else:
        print(x)
        if (x % 2) == 0:
            collatz(x//2)
        elif (x % 2) == 1:
            collatz(3*ð‘¥+1)

In [10]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [11]:
def binary(x):
    if type(x) is not int:
        print('Please input integer')
    elif x < 0:
        print('Please input non-negative integer')
    else:
        if x == 0 or x ==1:
            print(x % 2, end ="")
        else:
            binary(x // 2)
            print(x % 2, end ="")

In [12]:
binary(156)

10011100

# Question 6

In [13]:
from html.parser import HTMLParser

In [14]:
class HeadingParser(HTMLParser):
      
    def __init__(self):
        super().__init__()
        self.header_tags = {'h1':'', 'h2':' ', 'h3':'  ', 'h4':'   ', 'h5':'    ', 'h6':'     '}
        self.alldata = []
        
    def handle_starttag(self, tag, attrs):
        self.alldata.append(tag)
            
    def handle_data(self, data):
        self.alldata.append(data)
               
    def feed(self, content):
        super().feed(content)
        for i in range(len(self.alldata)):
            data = self.alldata[i]
            if data in self.header_tags.keys():
                print(self.header_tags[data], self.alldata[i+1])

In [15]:
infile = open('w3c.txt')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

 W3C Mission
  Principles

# Question 7

In [16]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

In [17]:
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [18]:
def webdir(url, depth, indent):
    resource = urlopen(url)
    content = resource.read().decode()
    collector = Collector(url)
    collector.feed(content)
    links = collector.getLinks()
    
    if depth < 0:
        for link in links:
            print(indent * '    ', link)
    else:
        print(indent * '    ', url)
        for link in links:
            webdir(link, depth-1, indent + 1)

In [19]:
url = "http://reed.cs.depaul.edu/lperkovic/test1.html"

webdir(url, 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
     http://reed.cs.depaul.edu/lperkovic/test2.html
         http://reed.cs.depaul.edu/lperkovic/test4.html
     http://reed.cs.depaul.edu/lperkovic/test3.html
         http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8

In [20]:
# Install as per the requirement
# !pip install ipython-sql

In [21]:
# Fix from : https://community.dataquest.io/t/guided-sql-project-error-cell-magic-sql-not-found/348678

In [22]:
%%capture
%load_ext sql
%sql sqlite:///weather.db

In [23]:
%%sql 
CREATE TABLE  IF NOT EXISTS weather
(
  city TEXT, 
  country TEXT, 
  season TEXT,
  temperature REAL,
  rainfall REAL
)

 * sqlite:///weather.db
Done.

[]

## Question 8.a

In [24]:
%%sql   
SELECT * FROM weather

 * sqlite:///weather.db
Done.

[]

## Question 8.b

In [25]:
%%sql   
SELECT distinct city FROM weather

 * sqlite:///weather.db
Done.

[]

## Question 8.c

In [26]:
%%sql   
SELECT * FROM weather
where country = 'India'

 * sqlite:///weather.db
Done.

[]

## Question 8.d

In [27]:
%%sql   
SELECT * FROM weather
where season = 'Fall'

 * sqlite:///weather.db
Done.

[]

## Question 8.e

In [28]:
%%sql   
SELECT city, country, season FROM weather
where rainfall between 200 and 400

 * sqlite:///weather.db
Done.

[]

## Question 8.f

In [29]:
%%sql   
SELECT city, country FROM weather
where temperature >= 20 and season = 'Fall'
order by temperature

 * sqlite:///weather.db
Done.

[]

## Question 8.g

In [30]:
%%sql   
SELECT SUM(rainfall) FROM weather
where city = 'Cairo'

 * sqlite:///weather.db
Done.

[(None,)]

## Question 8.h

In [31]:
%%sql   
SELECT season, SUM(rainfall) FROM weather
group by season

 * sqlite:///weather.db
Done.

[]

# Question 9

In [32]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

## Question 9.a

In [33]:
[word.upper() for word in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

## Question 9.b

In [34]:
[word.lower() for word in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

## Question 9.c

In [35]:
[len(word) for word in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

## Question 9.d

In [36]:
[[word.upper(), word.lower(), len(word)] for word in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

## Question 9.e

In [37]:
[word for word in words if len(word) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']